@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.textSmall {
  font-size: 0.8 rem; }

.textMedium {
  font-size: 1.4 rem; }

.textBig {
  font-size: 2 rem; }

nav {
  background-color: #b24475;
  display: flex; }
  nav img {
    width: 50px; }
  nav div a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px; }
    nav div a:hover {
      background: #ffea32; }

section {
  background-image: url(../img/fondoregla.png); }

footer {
  width: 100%;
  background: #FF107A;
  color: white; }
  footer a {
    text-decoration: none;
    color: white; }
  footer div a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px; }
    footer div a:hover {
      background: #ffea32; }

#footer__whatsapp--fixed {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 70px;
  height: 70px; }

.conteinerfooterall {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }

.conteinerbody {
  display: flex;
  justify-content: space-between; }

.conteinerbody__colum1--size {
  max-width: 400px; }

.footer__titulo--size {
  font-size: 1.5rem; }

.colum1 p {
  font-size: 14px;
  color: white;
  margin-top: 20px; }

.conteinerbody__colum2--size {
  max-width: 400px; }

.conteinerbody__logo--size {
  margin-top: 20px;
  display: flex; }

.conteinerbody__logo--size img {
  width: 38px;
  height: 38px; }

.conteinerbody__colum3--size {
  max-width: 400px; }

.row2 {
  margin-top: 20px;
  display: flex; }

.row2 img {
  width: 38px;
  height: 38px; }

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px; }

.conteinerFooter {
  width: 100%;
  background: #B24475;
  display: flex;
  justify-content: space-between;
  padding: 20px; }

.copyrigth {
  text-decoration: none;
  color: white;
  font-weight: bold; }

.autor {
  text-decoration: none;
  color: white; }
